ul {
  list-style-type: none;
}

.header {
  padding: 20px 15px;
  background-color: #ffffff;
}
.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.menu-set {
  display: flex;
  justify-content: space-between;
  background-color: brown;
}

.nav-menu {
  display: flex;
}

.menu-item {
  margin-right: 10px;
}
